@model ReportingDashboard.Models.ReportsViewModel
@{
ViewBag.Title = "List of users for iBeacon Application";
}
<h2 style="text-align: center;">@ViewBag.Title</h2>

<div class="userTable">
    <table style="background-color: white; width: 100%; overflow: auto;  height: 500px;">
    <tr>
        <th style="border: 2px solid black; text-align: center; width: 20%">User ID</th>
        <th style="border: 2px solid black; text-align: center; width: 20%">Username</th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td style="border: 2px solid black; padding-left: 20px;">
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td style="border: 2px solid black; padding-left: 20px;">
                @Html.DisplayFor(modelItem => item.name)
            </td>
        </tr>
    }
    </table>
</div>