@model ReportingDashboard.Models.ReportsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the GC iBeacon Reporting Dashboard</h1>
    <p class="lead">This dashboard will display all the check in/check out times from registered users and provide the ability to register new users to the system</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recent Check-Ins</h2>
        <p>Placeholder for recent check-in times</p>
    </div>
    <div class="col-md-4">
        <h2>Average Time Spent in Office</h2>
        <p>Placeholder for average time spent in office over a given day</p>
    </div>
    <div class="col-md-4">
        <h2>Users checked in most</h2>
        <p>Placeholder for how many times each user has checked in</p>
    </div>
</div>