@model ReportingDashboard.Models.ReportsViewModel
@{
    ViewBag.Title = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Scripts/poller.js"></script>
<script>
    window.onload = function() {

        var url = '@Url.Action("GetResults", "Home")';
        callMe(url);
    }
    setInterval(function () {
            var url = '@Url.Action("GetResults", "Home")';
            callMe(url);
        }
    , 10000);
</script>


<div class="jumbotron">
    <h1>Welcome to the GC iBeacon Reporting Dashboard</h1>
    <p class="lead">This dashboard will display all the check in/check out times from registered users and provide the ability to register new users to the system</p>
</div>
<div class="row">
    <div class="col-md-4" style="overflow: auto; max-height: 200px;">
        <h2>Recent Check-Ins</h2>
        <table id="tblCheckIn" style="background-color: white; width: 100%;">
            <thead>
                <tr>
                    <th style="border: 2px solid black; text-align: center; width: 20%">Username</th>
                    <th style="border: 2px solid black; text-align: center; width: 20%">Current Time</th>
                    <th style="border: 2px solid black; text-align: center; width: 20%">In or Out</th>
                </tr>
            </thead>
            <tbody style="text-align:center"></tbody>
        </table>
    </div>
    <div class="col-md-4" style="overflow: auto; max-height: 300px;">
        <h2>Average Time Spent in Office</h2>
        <p>Placeholder for average time spent in office over a given day</p>
    </div>
    <div class="col-md-4" style="overflow: auto; max-height: 300px;">
        <h2>Users checked in most</h2>
        <p>Placeholder for how many times each user has checked in</p>
    </div>
</div>